
<div class="card-header">
  <div class="mx-auto" style="width: 400px; margin-top: 0px; text-align: center;">
    <h1>Hangman</h1>
    <p>Developed for course 62596 and 02363 DTU Diplom</p>
    <div>
      <p *ngIf="setName()">Welcome back, {{name}}</p>
    </div>
  </div>
  <div style="margin-top: -30px; padding-bottom: 10px;">
    <div class="float-right" *ngIf="auth.loggedIn == true" >
      <button class="btn btn-danger" (click)="openModal(manualLogout)">Logout <fa name ="fas fa-sign-out"></fa></button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="goHome()"><fa name="fas fa-home"></fa> Home</button>
    </div>
  </div>
</div>


<ng-template #manualLogout>
  <div class="modal-body text-center">
    <p>Do you want to logout?</p>
    <button type="button" class="btn btn-default" (click)="logout()" >Yes <fa name ="fas fa-check"></fa></button>
    <button type="button" class="btn btn-primary" (click)="closeModal()" >No <fa name ="fas fa-ban"></fa></button>
  </div>
</ng-template>
<ng-template #forcedLogout *ngIf="auth.sessionExpired">
  <div class="modal-body text-center">
    <p>Your session has expired, and you have to log out and in again</p>
    <button type="button" class="btn btn-default" (click)="logout()" >Yes <fa name ="fas fa-check"></fa></button>
  </div>
</ng-template>

