<br>
<div class="container-fluid">
  <div>
    <img src={{images[imageIndex]}} />
  </div>
  <hr>
  <div class="secretWord">
    {{game.visibleWord}}
  </div>
  <div><p class="alert"> {{gameStatus}}</p>
    <div>
      <div>
        <button class="btn btn-primary"  (click)="onStartGameClicked()" *ngIf="!game.hasGameBegun">Start game</button>
        <button class="btn btn-secondary"  (click)="onHighScoresClicked()" *ngIf="!game.hasGameBegun">Highscores</button>
      </div>
      <div class="letterButtons" *ngIf="game.hasGameBegun">
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let bLetter of buttonLetters;" (click)="onLetterClick(bLetter);">
            <button class="btn btn-primary letter-button">
              {{bLetter}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
