<br>
<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div>
    <img src={{images[game.wrongLettersCount]}} />
  </div>
  <hr>
  <div class="secretWord" *ngIf="game.hasGameBegun">
    {{game.visibleWord}}
  </div>
  <div>
    <p class="alert">
      <!--Nedenstående kunne gøres med NGclass men er fravalgt-->
      <span class="redText"><strong>{{redText}}</strong></span>
      <span class="greenText"><strong>{{greenText}}</strong></span>
      {{gameStatus}}</p>
    <div>
      <div>
        <button class="btn btn-primary" (click)="onStartGameClicked()" *ngIf="!game.hasGameBegun || game.isGameOver">Start game</button>
        <button class="btn btn-secondary" (click)="onHighScoresClicked()" *ngIf="!game.hasGameBegun || game.isGameOver">Highscores</button>
      </div>
      <div class="letterButtons" *ngIf="game.hasGameBegun || !game.isGameOver">
        <ul class="list-inline">
          <li id="{{bLetter}}" class="list-inline-item" *ngFor="let bLetter of buttonLetters;" (click)="onLetterClick(bLetter);">
            <button class="btn btn-primary letter-button" *ngIf="bLetter !== checkLetter(bLetter)"> <!--TODO: FIX -->
              {{bLetter}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
