.container{
  margin-top: 100px;
}
.input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-link {
  margin: 20px;
  padding: 10px;
}
.input-group-addon{
  padding-top: 6px;
  padding-right: 25px;
}
