<br>
<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div>
    <img src={{images[game.wrongLettersCount]}} />
  </div>
  <hr>
  <div class="secretWord" *ngIf="game.hasGameBegun">
    {{game.visibleWord}}
  </div>
  <div>
    <p class="alert">
      <!--Nedenstående kunne gøres med NGclass men er fravalgt-->
      <span class="redText"><strong>{{redText}}</strong></span>
      <span class="greenText"><strong>{{greenText}}</strong></span>
      {{gameStatus}}</p>
    <div>
      <div>
        <button class="btn btn-success mainbuttons" (click)="onStartGameClicked()" *ngIf="!game.hasGameBegun || game.isGameOver">Start <i class="fa fa-gamepad"></i></button>
        <button class="btn btn-secondary mainbuttons" (click)="onHighScoresClicked()" *ngIf="!game.hasGameBegun || game.isGameOver">Highscores</button>
      </div>
      <div class="letterButtons" *ngIf="(game.hasGameBegun && !game.isGameOver) && !sessionExpired">
        <ul class="list-inline">
          <li id="{{bLetter}}" class="list-inline-item" *ngFor="let bLetter of buttonLetters;" (click)="onLetterClick(bLetter)">
            <button class="btn btn-primary letter-button" [disabled]="game.usedLetters.indexOf(bLetter) >= 0">
              {{bLetter}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Logout</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to logout?
    <br>

    <div align="center">
      <br>
      <button class="btn btn-success" (click)="logout()">Yes <fa name ="fas fa-check"></fa></button>
      <button class="btn btn-danger" (click)="closeModal()">No <fa name ="fas fa-ban"></fa></button>
    </div>
  </div>
</ng-template>
