<br>
<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div>
    <img src={{images[game.wrongLettersCount]}} />
  </div>
  <hr>
  <div *ngIf="game.hasGameBegun || game.gameHasBeenWon || game.gameHasBeenLost">
    <p><span class="word-description">{{game.wordExampleBefore}}</span> <span class="word">{{game.visibleWord}}</span> <span class="word-description">{{game.wordExampleAfter}}</span></p>
    <p class="word-description" style="font-style: italic" *ngIf="game.wordDefinition?.length">{{'Definition: '+game.wordDefinition}}</p>
    <p style="font-style: italic">
      <span *ngIf="game.wordSynonyms.length>0">Synonyms: </span>
      <span *ngFor="let synonym of game.wordSynonyms">{{synonym+ ', '}}</span>
    </p>
  </div>
  <div>
    <p class="alert">
      <span [ngClass]="{'redText':redText.length>0, 'greenText':greenText.length>0}"><strong>{{redText}}{{greenText}}</strong></span>
      {{gameStatus}}</p>
    <div>
      <div>
        <button class="btn btn-success mainbuttons" (click)="onStartGameClicked()" *ngIf="!game.hasGameBegun || game.isGameOver"
                [disabled]="game.hasGameBegun">Start <i class="fa fa-gamepad"></i></button>
        <button class="btn btn-secondary mainbuttons" (click)="onHighScoresClicked()" *ngIf="!game.hasGameBegun || game.isGameOver">Highscores</button>
      </div>
      <div class="letterButtons" *ngIf="(game.hasGameBegun && !game.isGameOver) && !sessionExpired">
        <ul class="list-inline">
          <li id="{{bLetter}}" class="list-inline-item" *ngFor="let bLetter of buttonLetters;" (click)="onLetterClick(bLetter)">
            <button class="btn btn-primary letter-button" [disabled]="game.usedLetters.indexOf(bLetter) >= 0">
              {{bLetter}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
