<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Studynumber</th>
      <th scope="col">Time</th>
      <th scope="col">Word</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows; index as i" [attr.data-index]="i">
      <th scope="row">{{'#'+i}}</th>
      <td>{{row.playerName}}</td>
      <td>{{row.time}}</td>
      <td>{{row.correctWord}}</td>
      <td>{{row.score}}</td>
    </tr>

    </tbody>
  </table>
  <button class="btn btn-link" style="padding: 30px" (click)="backClicked()">Back</button>
</div>
